<form *ngIf="getIsShow()">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <textarea matInput placeholder="First Name"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <textarea matInput placeholder="Last Name"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <textarea matInput placeholder="Email"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Phone</mat-label>
        <textarea matInput placeholder="Phone"></textarea>
    </mat-form-field>
</form>
