<button (click) = "showHideForm()">Add Employee</button><br><br>
<form *ngIf="visible">
    <input type="text" placeholder="First Name" required [(ngModel)]="employee.firstName" [ngModelOptions]="{standalone: true}"><br>
    <input type="text" placeholder="Last Name" required [(ngModel)]="employee.lastName" [ngModelOptions]="{standalone: true}"><br>
    <input type="text" placeholder="Email" required [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}"><br>
    <input type="text" placeholder="Phone" required [(ngModel)]="employee.phone" [ngModelOptions]="{standalone: true}"><br><br>
    <button (click)="addEmployee()">Add</button>
</form>

