<div class="w-75 ms-3 mt-3">
<h2>Employees list</h2>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>      
        <th colspan="2">Actions</th>  
    </tr>
    <tr *ngFor="let item of data">
        <td>{{ item.employeeId }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td><button class="btn btn-danger" id='{{ item.employeeId }}' (click)='deleteEmployee($event)'>Remove</button></td> 
        <td><button class="btn btn-success" id='{{ item.employeeId }}' (click)="showUpdate($event)">Update data</button></td>
    </tr>
</table>
<br>
<div class="w-50 ms-3">
    <form *ngIf="visible">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="First Name" required [(ngModel)]="employee.firstName" [ngModelOptions]="{standalone: true}"><br>
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="Last Name" required [(ngModel)]="employee.lastName" [ngModelOptions]="{standalone: true}"><br>
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating mb-3 input-group">
            <div class="input-group-text">@</div>
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}">
            <label class="ms-5" for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="Phone" required [(ngModel)]="employee.phone" [ngModelOptions]="{standalone: true}"><br><br>
            <label for="floatingInput">Phone</label>
            <button class="btn btn-primary" (click)="updateEmployee()">Update</button>
        </div>       
    </form>
</div>
<br>
</div>


